.a{ color: #0000AA; font-style: italic; }
.b{ color: #008800; }
.f{ color: #666; }
.c{ color: #000000; font-weight: bold; text-decoration:underline; }
.d{ color: #0000AA; }
.e{ color: #666666; }
.g{ background-color: #ffcccc; }
.h { color: #666; }
.i { font-weight: bold; font-style: normal; }
.r { color: #666; font-weight: bold; }
.p { color: #4477aa; font-weight: bold; }
.j { font-weight: bold; color: sienna; }
.k { font-weight: bold;  }
.l { font-weight: bold;  }
.m { color: purple; }
.n { color: #dd4444; }
.o { color: #4477aa; }
.q { color: #660033; }